.featured {
  //   padding: 180px 0;
  padding: clamp(3.125rem, 0.761rem + 11.82vw, 11.25rem) 0;
  &__header {
    margin-bottom: 50px;
  }
  &__logo-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
    gap: 30px;
  }
  &__logo {
    flex: 0 0 auto;
  }
  &__logo img {
    width: 100%;
  }
}
