// -----------------all buttons
.buttons {
  padding: 8px 40px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  background-color: var(--accent-color);
  color: var(--main-text-color);
  margin-right: clamp(0.625rem, 0.255rem + 1.85vw, 1.875rem);
  cursor: pointer;
  &:hover {
    background-color: #116d62;
  }
}
// -----------------main

.main {
  padding-top: 100px;
  position: relative;
  &__body {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__information {
    flex: 0 0 50%;
    position: relative;
    padding-bottom: 100px;
  }
  &__header {
    font-size: 68px;
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
  }
  &__text {
    margin-top: 16px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
  }
  &__img {
    & img {
      width: 100%;
      height: 100%;
      // width: 700px;
      // height: 645px;
      // background-image: url("./img/jpg/main/main-bungalow.jpg");
      // background-position: center;
      // background-size: contain;
      // background-repeat: no-repeat;
    }
  }
  &__decor {
    position: absolute;
    right: 0;
    top: 500px;
    z-index: -1;
  }
}
.search {
  width: 900px;
  height: 100px;
  position: absolute;
  background-color: rgb(204, 200, 200);
  color: var(--black-text-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 173px;

  &__item {
    position: relative;
    text-transform: capitalize;
    background-color: var(--main-text-color);
    &:nth-child(2) {
      border-left: 1px solid rgb(204, 200, 200);
      border-right: 1px solid rgb(204, 200, 200);
    }
  }
  &__info {
    padding: 28px 40px;
    cursor: pointer;
  }
  &__header {
    display: flex;
  }
  &__type {
    font-size: 16px;
    font-weight: 400;
  }
  &__icon {
    background-image: url("./img/icons/main/main-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 1px;
    &.active {
      transform: rotate(180deg);
    }
  }
  &__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 126%;
  }
  &__list {
    // display: none;
    opacity: 0;
    visibility: hidden;

    list-style: none;
    position: absolute;
    background-color: var(--subtext-color);
    left: 0;
    right: 0;
    transform: translateY(8px);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    & li {
      padding: 10px 40px;
      padding-top: 10px;
      &:hover {
        background: rgba(0, 0, 0, 0.128);
      }
      &:nth-child(2n) {
        background-color: rgb(204, 200, 200);
      }
      &:nth-child(2n):hover {
        background: rgba(0, 0, 0, 0.128);
      }
    }
  }
  & .item-button {
    padding: 5px;
  }
  &__button_container {
    background-color: var(--accent-color);
    color: var(--main-text-color);
    width: 100%;
    height: 100%;
    padding: 30px 42px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    &:hover {
      background-color: #116d62;
    }
  }
  // --------error box
  &__error {
    color: rgb(248, 47, 16);
    display: none;
  }
}
// ---------------popup
.main__popup {
  background-color: rgba(0, 0, 0, 0.809);
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}

.popup-main {
  // background-color: rgba(0, 0, 0, 0.809);
  // position: fixed;
  // z-index: 999;
  // width: 100%;
  // height: 100vh;
  // opacity: 0;
  // visibility: hidden;
  // transition: opacity 0.2s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 40px;
  }
  &__card {
    background-color: rgb(250, 252, 252);
    max-width: 1000px;
    height: 100vh;
    position: absolute;
    top: 0;
    // bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  &__card-wrapper {
    // background-color: #116d62;
    border-bottom: 1px solid rgb(220, 214, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
  }
  &__img {
    flex: 0 0 30%;
    height: 230px;
    padding: 10px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__description-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    color: var(--black-text-color);
  }
  &__desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
  }
  &__price {
    font-size: 20px;
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
  }
  &__order-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    // gap: clamp(0.625rem, -3.819rem + 22.22vw, 15.625rem);
    align-items: center;
  }
  &__button {
    transition: background-color 0.2s;
    // padding: 8px 40px;
    // font-size: 18px;
    // font-weight: 500;
    // text-transform: capitalize;
    // border: none;
    // background-color: var(--accent-color);
    // color: var(--main-text-color);
    // margin-right: clamp(0.625rem, 0.255rem + 1.85vw, 1.875rem);
    // cursor: pointer;
    // &:hover {
    //   background-color: #116d62;
    // }
  }
}

.popup-description {
  width: 100%;
  height: 100vh;
  // position: relative;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 40px;
  }
  &__card {
    width: 800px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: rgb(220, 214, 214);
    color: var(--black-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  &__location {
    font-size: 24px;
    font-weight: 600;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
  }
  &__price {
    font-size: 20px;
    font-weight: 600;
  }
  &__button {
    margin: 0;
    transition: background-color 0.2s;
    &:active {
      background-color: #0b463f;
    }
  }
  &__message {
    color: rgb(248, 47, 16);
    display: none;
  }
}
