// -----------------all buttons
.buttons {
  padding: 8px 40px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  background-color: var(--accent-color);
  color: var(--main-text-color);
  margin-right: clamp(0.625rem, 0.255rem + 1.85vw, 1.875rem);
  cursor: pointer;
  &:hover {
    background-color: #116d62;
  }
}
// -----------------main

.main {
  // padding-top: 100px;
  padding-top: clamp(1.25rem, -0.205rem + 7.27vw, 6.25rem);
  position: relative;
  &__body {
    display: flex;
    align-items: center;
    gap: clamp(0.313rem, 0.04rem + 1.36vw, 1.25rem);
    @media (max-width: 992px) {
      flex-direction: column;
      // gap: 15px;
    }
    @media (max-width: 576px) {
      gap: 50px;
    }
    @media (max-width: 480px) {
      gap: 10px;
    }
  }
  &__information {
    // flex: 0 0 50%;
    flex: 0 0 calc(700px / 1420px * 100%);
    position: relative;
    padding-bottom: 100px;
    @media (max-width: 480px) {
      padding-bottom: 0;
    }
  }
  &__header {
    // font-size: 68px;
    font-size: clamp(1.5rem, 0.7rem + 4vw, 4.25rem);
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
  }
  &__text {
    margin-top: 16px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
  }
  &__img {
    flex: 0 0 calc(700px / 1420px * 100%);
    @media (max-width: 992px) {
      width: 100%;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      display: none;
    }
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__decor {
    position: absolute;
    right: 0;
    bottom: -240px;
    z-index: -1;

    @media (max-width: 576px) {
      bottom: -100px;
    }
    & svg {
      @media (max-width: 576px) {
        height: 300px;
      }
    }
  }
}
// -----------------serch
.search {
  width: 900px;
  height: 100px;
  position: absolute;
  background-color: var(--main-text-color);
  color: var(--black-text-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 183px;
  @media (max-width: 992px) {
    width: 100%;
  }
  @media (max-width: 576px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    height: auto;
    // position: static;
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    position: static;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    // background-color: var(--main-text-color);

    &:nth-child(2) {
      border-left: 1px solid rgb(228, 224, 224);
      border-right: 1px solid rgb(228, 224, 224);
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-left: clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem);
    justify-content: center;
    cursor: pointer;
  }
  &__header {
    display: flex;
  }
  &__type {
    font-size: 16px;
    font-weight: 400;
  }
  &__icon {
    background-image: url("./img/icons/main/main-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 1px;
    &.active {
      transform: rotate(180deg);
    }
  }
  &__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 126%;
  }
  &__list {
    // display: none;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    position: absolute;
    background-color: var(--subtext-color);
    box-shadow: 0px 13px 36px -6px rgba(0, 0, 0, 0.59);
    left: 0;
    right: 0;
    top: 100%;

    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;
    z-index: 1;
    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(8px);
    }

    & li {
      padding: 10px 40px;
      @media (max-width: 768px) {
        padding: 10px 10px;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.128);
      }
      &:nth-child(2n) {
        background-color: rgb(204, 200, 200);
      }
      &:nth-child(2n):hover {
        background: rgba(0, 0, 0, 0.128);
      }
    }
  }
  & .item-button {
    padding: 5px;
    @media (max-width: 576px) {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
  &__button_container {
    background-color: var(--accent-color);
    color: var(--main-text-color);
    width: 100%;
    height: 100%;
    padding: 30px 42px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    &:hover {
      background-color: #116d62;
    }
    @media (max-width: 576px) {
      padding: 10px 30px;
    }
  }
  // --------error box
  &__error {
    margin-top: 20px;
    color: rgb(248, 47, 16);
    display: none;
    font-size: 20px;
  }
}
// ---------------  main popup
.main__popup {
  background-color: rgba(0, 0, 0, 0.809);
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}

.popup-main {
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 40px;
    @media (max-width: 768px) {
      right: 25px;
    }
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__card {
    background-color: rgb(250, 252, 252);
    max-width: clamp(18.75rem, 6.023rem + 63.64vw, 62.5rem);
    // max-width: 1000px;
    height: 100vh;
    position: absolute;
    top: 0;
    // bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  &__card-wrapper {
    // background-color: #116d62;
    border-bottom: 1px solid rgb(220, 214, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
  }
  &__img {
    flex: 0 0 30%;
    height: clamp(6.25rem, 3.886rem + 11.82vw, 14.375rem);
    padding: 10px;
    flex: 0 0 30%;
    @media (max-width: 576px) {
      display: none;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__description-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    color: var(--black-text-color);
  }
  &__desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
  }
  &__price {
    font-size: 20px;
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
  }
  &__order-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    // gap: clamp(0.625rem, -3.819rem + 22.22vw, 15.625rem);
    align-items: center;
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: stretch;
    }
  }
  &__button {
    transition: background-color 0.2s;
    margin-right: 0;
  }
}
// -------------------popup description
.popup-description {
  height: 100vh;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 40px;
    @media (max-width: 992px) {
      display: none;
    }
    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__card {
    // max-width: clamp(12.5rem, -2.315rem + 74.07vw, 62.5rem);
    max-width: clamp(18.75rem, 6.023rem + 63.64vw, 62.5rem);
    height: 100vh;
    overflow: auto;
    // height: fit-content;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: rgb(220, 214, 214);
    color: var(--black-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 50px;
    @media (max-width: 768) {
      // overflow: auto;
    }
  }
  &__close-black {
    position: absolute;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
    z-index: 999;
    @media (max-width: 992px) {
      display: block;
    }
    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__location {
    font-size: 30px;
    font-weight: 600;
    align-self: center;
  }
  &__galery {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__image {
    flex: 0 0 30%;
    // width: 200px;
    height: 180px;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, 0.694rem + 2.78vw, 3.125rem);

    // position: relative;
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
  }
  &__price {
    font-size: 20px;
    font-weight: 600;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &__button {
    margin: 0;
    transition: background-color 0.2s;
    &:active {
      background-color: #0b463f;
    }
  }
  &__message {
    color: rgb(248, 47, 16);
    display: block;
    font-size: 18px;
    height: 20px;
    text-align: center;
  }
}

// ---------swiper slider description

.slider-popup {
  position: relative;
}

.slider-popup-description {
  // height: 250px;
  overflow: hidden;
  position: relative;
}
.swiper-wrapper {
  display: inline-flex;
}

.swiper-button__wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  top: calc(50% - 20px);
  z-index: 999;
  gap: 40px;
  pointer-events: none;
  @media (max-width: 992px) {
    width: 50px;
    top: -35px;
    right: 0px;
    gap: 20px;
  }
  @media (max-width: 576px) {
    width: 25px;
    top: -22px;
  }
}
.slider-popup-description__btn {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--accent-color);

  background: url(./img/icons/main/arrow-slider.svg);
  background-position: 14px;
  background-repeat: no-repeat;
  background-size: auto;
  pointer-events: all;
  cursor: pointer;
  @media (max-width: 992px) {
    width: 30px;
    height: 30px;
    background-position: 6px;
    background-size: 10px;
  }
  @media (max-width: 576px) {
    width: 20px;
    height: 20px;
    background-position: 3px;
    background-size: 8px;
  }
}
.prev {
  position: absolute;
  left: -20px;
}

.next {
  transform: rotate(180deg);
  position: absolute;
  right: -20px;
  @media (max-width: 992px) {
    right: 0;
  }
}
.slide-popup {
  cursor: pointer;
  & img {
    width: 100%;
    height: 1004;
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

// -----------------------popup big image
.popup-galery {
  position: fixed;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__contentContainer {
    // max-width: 700px;
    max-width: clamp(12.5rem, 1.136rem + 56.82vw, 43.75rem);
    height: fit-content;
    background-color: rgb(220, 214, 214);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
}
// --------------loader
.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #1aa09046;
  border-left: 5px solid var(--accent-color);
  animation: load 1.3s linear infinite;
}
@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}
