@import "./normalize";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
// Regular 400 ; Medium 500 ; SemiBold 600
// @import "./swiperStyles.scss";
body {
  font-family: Work Sans;
  color: var(--main-text-color);
  background-color: var(--bg-color);
  &.active {
    overflow: hidden;
  }
}
.section-titles {
  color: var(--main-text-color);
  font-size: clamp(1.5rem, 1.064rem + 2.18vw, 3rem);
  // font-size: 48px;
  font-weight: 600;
  line-height: 126%;
  text-transform: capitalize;
}

@import "./header";
@import "./main";
@import "./featured";
