@import "./normalize";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
// Regular 400 ; Medium 500 ; SemiBold 600

body {
  font-family: Work Sans;
  color: var(--main-text-color);
  background-color: var(--bg-color);
}

@import "./header";
